/* login.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color:  #daf7fd7e !important;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

