@tailwind base;
@tailwind components;
@tailwind utilities;

/* SidePanel.module.css */
body {
  background-color:  #c7ebf0 !important;
  margin: 0;
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2C297E; 
  
  cursor: pointer;
                         
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 8px;

}

.listItem.selected {
  background-color: #2C297E; /* Navy blue background for selected items */
  color: #fff; /* White text for selected items */
}

.listItem:hover {
  background-color: #2C297E; /* Navy blue background on hover */
  color: #fff;
}

.listItemIcon {
 
   /* Navy blue icon color */
  transition: color 0.3s;
  
 align-self: center;
  /* margin-top: 10px; */
}

.listItemIcon.selected,
.listItemIcon:hover {
  color: white; /* White icon color for selected items and on hover */
}

.listItemText {
  display: none;
}

.listItemTextOpen {
  display: flex;
  /**/
}


.logoContainer {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin-top: 10px;
}
.dashboard-container {

  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}


.stats-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.stat-card {
  width: calc(100% / 6 -60px); /* Three cards per row */
  min-width: 180px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  box-shadow: 0px 0px 15px rgba(228, 225, 225, 0.5);
  border-radius: 20px;
  background-color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.stat-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.stat-value {
  font-size: 1.5rem;
  font-weight: 600;
}

.stat-icon {
  font-size: 2rem;
  color: #ff6600;
}

.stat-label {
  font-size: 0.875rem;
  color: #6c757d;
}


.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.dashboard-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  padding-top: 10px;
  padding-bottom: 20px;
}
.recent-tickets-container {
  width: 600px;
  height: 350px;
  overflow-y: auto;
  background-color: #fff;
}
.top-consultants-container {
  width: 600px;
  height: 350px;
  overflow-y: auto;
  background-color: #fff;
}


.dynamicChart {
  width: 600px;
  height: 350px;
  overflow-y: auto;
  background-color: #fff;
  margin-top: 30px;
}

.top-sessions {
  width: 600px;
  height: 350px;
  overflow-y: auto;
  background-color: #fff;
  margin-top: 30px;
}
.recent-rating-container {
    width: 600px;
    height: 450px;
    overflow-y: auto;
    background-color: #fff;
}

.doctor-application-container {
  width: 600px;
  height: 850px;
  overflow-y: auto;
  background-color: #fff;
}
.doctor-ratings-container {
  width: 600px;
    height: 550px;
    overflow-y: auto;
    background-color: #fff;
}
.recent-doctors-container {
  width: 600px;
  height: 520px;
  overflow-y: auto;
  background-color: #fff;
  margin-top: 20px;
}

.top-article-container {
  width: 600px;
  height: 450px;
  overflow-y: auto;
  background-color: #fff;
  margin-top: 20px;
}
.most-posted-container {
  width: 600px;
  height: 350px;
  overflow-y: auto;
  background-color: #fff;
  margin-top: 20px;
}
.top-blogs-container {
  width: 600px;
  height: 460px;
  overflow-y: auto;
  background-color: #fff;
  margin-top: 20px;
}