@tailwind base;
@tailwind components;
@tailwind utilities;

/* SidePanel.module.css */
body {
  background-color:  #daf7fd7e !important;
  margin: 0;
}

/* header */
.header-notification-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 1000;
  overflow: hidden; /* Add this line to remove sharp corners */
}

.notification-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-notification-card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.see-all {
  font-size: 0.875rem;
  color: #ff6600;
  text-decoration: none;
}

.header-notification-filters {
  display: flex;
  margin-bottom: 15px;
}

.filter-button {
  background: none;
  border: none;
  font-size: 0.875rem;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #daf7fd7e;
}

.filter-button.active {
  font-weight: bold;
  color: #fff;
  background-color: #2C297E;
  border-radius: 5px;
}

.header-notification-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.header-notification-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.header-notification-content h3 {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
}

.notification-content p {
  font-size: 0.875rem;
  margin: 0;
  color: #6c757d;
}

.custom-dropdown .dropdown-menu {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 25px;
  right: 0 !important;
  left: auto !important;
  width: 220px; /* Adjust width as needed */
  top: 15px; /* Added space from the top */
}

.dropdown-card {
  border-radius: 10px 10px 0 10px;
}

.custom-dropdown .dropdown-item {
  display: flex;
  align-items: center;
  padding: 12px 16px; /* Adjust padding for more space */
  color: #000;
  font-weight: bold;
  border-radius: 10px; /* Initial border-radius */
}

.custom-dropdown .dropdown-item .me-2 {
  margin-right: 10px;
  color: #FF6600;
}

.custom-dropdown .dropdown-item:hover {
  background-color: #ffbda2;
  color: white;
  border-radius: 10px; /* Border-radius on hover */
}

.custom-dropdown .dropdown-item:hover .me-2 {
  color: white;
}


/*.......*/

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2C297E; 
  
  cursor: pointer;
                         
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 8px;

}

.listItem.selected {
  background-color: #2C297E; /* Navy blue background for selected items */
  color: #fff; /* White text for selected items */
}

.listItem:hover {
  background-color: #2C297E; /* Navy blue background on hover */
  color: #fff;
}

.listItemIcon {
 
   /* Navy blue icon color */
  transition: color 0.3s;
  
 align-self: center;
  /* margin-top: 10px; */
}

.listItemIcon.selected,
.listItemIcon:hover {
  color: white; /* White icon color for selected items and on hover */
}

.listItemText {
  display: none;
}

.listItemTextOpen {
  display: flex;
  /**/
}


.logoContainer {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin-top: 10px;
}
.dashboard-container {

  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}


.stats-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.stat-card {
  width: calc(100% / 6 -60px); /* Three cards per row */
  min-width: 180px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  box-shadow: 0px 0px 15px rgba(228, 225, 225, 0.5);
  border-radius: 20px;
  background-color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.stat-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.stat-value {
  font-size: 1.5rem;
  font-weight: 600;
}

.stat-icon {
  font-size: 2rem;
  color: #ff6600;
}

.stat-label {
  font-size: 0.875rem;
  color: #6c757d;
}


.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.dashboard-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  padding-top: 10px;
  padding-bottom: 20px;
}
.recent-tickets-container {
  width: 95%;
  height: 350px;
  overflow-y: auto;
  background-color: #fff;
}
.top-consultants-container {
  width: 95%;
  height: 350px;
  overflow-y: auto;
  background-color: #fff;
}


.dynamicChart {
  width: 95%;
  height: 350px;
  overflow-y: auto;
  background-color: #fff;
  margin: 30px 0;
}

.top-sessions {
  width: 95%;
  height: 350px;
  overflow-y: auto;
  background-color: #fff;
  margin: 30px 0;
}
.recent-rating-container {
    width: 95%;
    height: 450px;
    overflow-y: auto;
    background-color: #fff;
}

.doctor-application-container {
  width: 95%;
  height: 850px;
  overflow-y: auto;
  background-color: #fff;
}
.doctor-ratings-container {
  width: 95%;
    height: 550px;
    overflow-y: auto;
    background-color: #fff;
}
.recent-doctors-container {
  width: 95%;
  height: 520px;
  overflow-y: auto;
  background-color: #fff;
  margin-top: 20px;
}

.top-article-container {
  width: 95%;
  height: 450px;
  overflow-y: auto;
  background-color: #fff;
  margin-top: 20px;
}
.most-posted-container {
  width: 95%;
  height: 350px;
  overflow-y: auto;
  background-color: #fff;
  margin-top: 20px;
}
.top-blogs-container {
  width: 95%;
  height: 460px;
  overflow-y: auto;
  background-color: #fff;
  margin-top: 20px;
}

/* dashboard.css */

.page-info {
  margin: 0 8px;
}

.page-info h1 {
  font-size: 24px;
  font-weight: bold;
  color: #242425;
  margin-bottom: 5px;
}

.page-info .breadcrumb {
  font-size: 14px;
  color: #57575f;
}

.page-info .breadcrumb a {
  color: #57575f;
  text-decoration: none;
}

.page-info .breadcrumb a:hover {
  text-decoration: underline;
}

.welcome-container, .heading-container {
  position: relative;
  display: inline-block;
}

.heading-underline {
  width: 50%;
  height: 2px;
  background-color: #ff6600; /* Red color */
  position: absolute;
  bottom: 0; /* Adjust based on the spacing you need */
  left: 0;
  margin-bottom: 6px;
}

.notification-card {
  background-color: #fff;
  border-radius: 15px;
  
  margin: 15px 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
}

.notification-card-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
}

.heading-underline-org {
  width: 25%;
  height: 2px;
  background-color: #ff6600; /* Red color */
  position: absolute;
  bottom: 0;
  left: 0;
  
}

.notification-item {
  display: flex;
  align-items: center;
 
  display: flex;
   padding: 8px;
   border-radius: 15px;
   margin-top: 12px;

}

.notification-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.notification-content h3 {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
}

.notification-content p {
  font-size: 0.75rem;
  margin: 0;
  color: #6c757d;
  margin-top: 5px
}

.notifications-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 680px;
  padding: 20px 10px;
  margin: 20px 0;
}

